@keyframes scrolling {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(-120%);
    }
}

.scrolling-text-container {
    background-color: var(--bs-info);
    overflow: hidden;
}
.scrolling-text {
    white-space: nowrap;
    animation: scrolling 10s linear infinite;
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}
