{% extends "page.html" %}


{% block content %}
    {% if message %}<div class="alert alert-danger">{{ message }}</div>{% endif %}
    <h1>Log-in or sign-up</h1>
    <form action="/login/send_credentials" method="post" class="input-group">
        <input type="text" required name="username" class="form-control" placeholder="Username...">
        <input type="password" required name="password" class="form-control" placeholder="Password...">
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>   
{% endblock %}
